.site-header {
  padding: 0.5rem 1rem;
  background-color: #f4f4f4;
}

.site-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex; /* Horisontella länkar */
  gap: 1rem;
}

.site-header li {
  margin: 0;
}

.site-header a {
  text-decoration: none;
  color: #000000;
}

.site-header a:hover {
  color: #919191;
}
