.portfolio-container {
    padding: 20px;
}

.portfolio-title {
    font-size: 2.5rem; 
    text-align: center;
    margin-bottom: 30px;
}

.portfolio-filter-buttons {
    display: flex;
    gap: 15px; /* Mer avstånd mellan knapparna */
    justify-content: center;
    margin-bottom: 30px;
}

/* Kategoriknapparnas utseende */
.portfolio-filter-buttons button {
    padding: 12px 25px; 
    border: 1px solid #ccc;
    background-color: #7026b9;
    color: #ffffff;
    font-size: 18px; 
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.portfolio-filter-buttons button:hover {
    background-color: #501a8b;
}

.portfolio-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Två kolumner */
    gap: 30px; 
    list-style: none;
    padding: 0;
    margin: 0 auto;
    max-width: 800px;
}

.portfolio-item {
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 20px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15); 
    transition: transform 0.3s;
    text-align: center;
    padding: 0 30px; /* Mer padding i korten */
    box-sizing: border-box;
}

.portfolio-item:hover {
    transform: scale(1.1); 
}

.portfolio-item a {
    text-decoration: none;
    color: #000000;
}


.portfolio-thumbnail {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ddd;
}

@media (max-width: 768px) {
    .portfolio-list {
        grid-template-columns: 1fr; /* En kolumn på mindre skärmar */
        justify-items: center;
    }

}
